.hamburger_logo_withButton{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.closeIcone{
    align-self: flex-end;        
}
.expend_icons_sidebar{
    margin-top: 20px;
}
.sidebar_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 13px;
    border-top: 1px solid #e8e8e8;
    /* background: #fff  */
}
.sidebar_footer_content{
    display: flex;
 
    align-items: center;
}
.f-sidegap{
    gap: 10px;
}
.j_center{
    justify-content: center;
}
.sideFooter_userName{
    font-size: large;
    font-family:cursive;
}